@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

/* .mark:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 54%;
  z-index: 5;
} */

.mark {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
}

.mark {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  background: #140d27;
  background-blend-mode: hard-light;
  color: white;
}

.rbutton {
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 172px;
  height: 53px;
  /* padding-left: 52px;
  padding-top: 11px; */
}
.rbutton:hover {
  scale: 105%;
}

.flare {
  z-index: -2;
}

.line {
  border: 1px solid rgb(255, 255, 255, 0.18);
  width: 100%;
  height: 1px;
}
.line2 {
  border: 1px solid rgba(212, 52, 254, 1);
  width: 100%;
  height: 1px;
  margin-top: 7px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
}
.line2:hover {
  width: 105%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  align-items: center;
  /* justify-content: center; */
  display: flex;
  gap: -20px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

/* @media screen and (max-width: 768px) {
  .nav-menu  { */
/* // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
/* position: absolute;
    top: 60px;
    left: 0; */
/* // stacks the li tags vertically  */
/* flex-direction: column; */
/* // makes menu span full height and width */
/* width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black; */
/* }

  

} */

.space {
  margin-bottom: 30px;
}

/* VERTICAL STEPPER BEGINGS */

/* components/VerticalStepper.css */

.vertical-stepper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.step {
  display: flex;
  align-items: end;
  margin-bottom: 16px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
}

/* .step:hover {
  scale: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
} */

.step-number {
  width: 53px;
  height: 53px;
  /* border: 2px solid #333; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin: 0 86px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
  background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
}

.step-number:hover {
  scale: 110%;
}

.step-label-right {
  text-align: left;
}
.step-label-left {
  text-align: right;
}

.step-label-left,
.step-label-right {
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
}

.step-label-left:hover,
.step-label-right:hover {
  scale: 110%;
}

/* @media screen and (max-width: 900px) {
  .step-label-left,
  .step-label-right {
    max-width: 200px;

  }
} */

/* VERTICAL STEPPER ENDS */

/* VERTICAL LINE START */
.vertical-line {
  margin-top: 5px;
  margin-bottom: 30px;
  width: 4px; /* Adjust the width of the line */
  height: 86px; /* Adjust the height of the line */
  background-color: rgba(212, 52, 254, 1);
  border-radius: 4px;
}

/* VERTICAL LINE ENDS */


